<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <clear />
    <add name="EPiServerDB" connectionString="" providerName="System.Data.SqlClient" />
    <add name="EcfSqlConnection" connectionString="" providerName="System.Data.SqlClient" />
    <add name="EPiServerAzureBlobs" connectionString="" providerName="System.Data.SqlClient" />
    <add name="EPiServerAzureEvents" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="404" />
      <!-- Note! You should change this to your custom error page. See the
                 readme on https://github.com/Geta/404handler for more information -->
      <error statusCode="404" path="/notfound.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>