@model FeatureBoxBlock

<div class="feature-box">
    <div class="feature-box__icon">
        <i class="@Html.DisplayTextFor(x => x.IconName)" @Html.EditAttributes(x => x.IconName)></i>
    </div>
    <div class="feature-box__content">@Html.PropertyFor(x => x.Content)</div>
</div>
