﻿@model VideoBlock

<div style="@Model.PaddingStyles">
    <div>
        <video blockId="@(((IContent)Model).ContentLink.ID)" name="@(((IContent)Model).Name)" class="video-block" playsinline seeking controls>
            <source src="@Url.ContentUrl(Model.Video)" type="video/mp4">
        </video>
    </div>
</div>